        body *
        {
            /* border: 1px solid black; */
            box-sizing: border-box;
        }
        body
        {
            margin: 0;
        }
        /* header start */
        .header ul
        {
            margin: 0;
            padding: 0;
            text-align: center;
            background-color: black;
            color: white;
        }
        .header li
        {
            list-style-type: none;
            display: inline;
            padding: 0 70px 0 70px;
            border-right: 1px solid white;
        }
        /* header end */

        /* navbar start */
        .navbar ul
        {
            margin: 0;
            padding: 0;
            display: flex;
            text-align: center;
        }
        .navbar li
        {
            list-style-type: none;
            width: 33.33%;
            padding: 30px;

        }
        input
        {
            height: 40px;
            width: 250px;
            padding: 10px;
        }
        button
        {
            height: 40px;
            width: 50px;
            background-color: #2fdab8;
            color: white;
        }
        .fa-magnifying-glass
        {
            font-size: 11px;
        }
        .text1
        {
            text-align: right;
        }
        .text2
        {
            font-size: 50px;
        }
        .text3
        {
            text-align: left;
            font-size: 25px;
            display: flex;
        }
        .facebook
        {
            height: 40px;
            width: 40px;
            /* background: black; */
            position: relative;
            transform-style: preserve-3d;
            transition: .31s;
            margin-right: 10px;
            margin-left: 10px;
            color: white;
            text-align: center;
            line-height: 40px;
            /* box-shadow: 5px 5px 5px black; */
            border: none;
        }
        .ff
        {
            height: inherit;
            width: inherit;
            background: #2fdab8;
            position: absolute;
            top: 0;
            left: 0;
            backface-visibility: hidden;
            transform: rotateX(0deg) translateZ(20px);
        }
        .fb
        {
            height: inherit;
            width: inherit;
            background: white;
            position: absolute;
            top: 0;
            left: 0;
            backface-visibility: hidden;
            transform: rotateX(90deg) translateZ(20px);
            color: black;
        }
        .facebook:hover
        {
            transform: rotateX(-90deg);
        }
        /* navbar end */

        /* subheader start */
        .s1
        {
            height: 20px;
            width: 20px;
            color: white;
            background-color: black;
            padding: 20px;
        }
        .subheader ul
        {
            margin: 0;
            padding: 0;
            display: flex;
            text-align: center;
        }
        .subheader li
        {
            list-style-type: none;
            width: 11.11%; 
            padding: 20px;
            /* background-color: black; */
            /* color: white;  */
            font-size: 20px;
        }
        .cart
        {
            background-color: #2fdab8;
        }
        /* subheader end */

        /* content start */
        .content
        {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 500px;
            flex-direction: column;
            background: url(bot_2.jpg);
            background-size: cover;
            font-size: 55px;
            letter-spacing: 10px;
            color: white;
        }   
        .hoverc1
        {
            outline: 5px solid #2fdab8;
            outline-offset: 0;
            transition: .31s;
        }
        .hoverc1:hover
        {
            outline: 5px solid #2fdab8;
            outline-offset: 5px;
        }
        /* content end */

        /* new arrivals start */
        .new-Arrivals
        {
            display: flex;
            padding: 120px;
            gap: 10px;
        }
        .a1,.a2
        {
            height: 300px;
            width: 50%;
        }
        .a1
        {
            background: url(bottom1.jpg);
            background-size: cover;
            letter-spacing: 5px;
            color: white;
            font-size: 30px;
            padding: 90px 0px 0px 300px;
            background-position: -50px 0px;
            transition: .31s;
            position: relative;
            border: 10px solid rgba(0, 0, 0, .23);
            background-clip: border-box;
        }
        .a1::after
        {
            content: "";
            background: transparent;
            height: 250px;
            width: 500px;
            border: 10px solid white;
            opacity: 0 ;
            transition: .31s;
            font-size: 35px;
            color: white;
            letter-spacing: 8px;
            position: absolute;
            top: 10px;
            left: 0px;
        }
        .a1:hover::after
        {
            opacity: 1;
            top: 10px;
            left: 40px;
        }
        .a1:hover
        {
            background-position: 0px 0px;
        }
        .a2
        {
            background: url(bottom2.jpg);
            background-size: cover;
            color: white;
            font-size: 30px;
            padding: 90px 0px 0px 300px;
            background-position: -50px 0px;
            transition: .31s;
            position: relative;
            border: 10px solid rgba(0, 0, 0, .23);
            background-clip: border-box;
        }
        .a2::after
        {
            content: "";
            background: transparent;
            height: 250px;
            width: 500px;
            border: 10px solid white;
            opacity: 0;
            transition: .31s;
            font-size: 35px;
            color: white;
            letter-spacing: 8px;
            position: absolute;
            top: 10px;
            left: 0px;
        }
        .a2:hover::after
        {
            opacity: 1;
            top: 10px;
            left: 40px;
        }
        .a2:hover
        {
            background-position: 0px 0px;
        }
        .sp1
        {
            color: red;
        }
        .sp2
        {
            color: red;
        }
        /* new arrivals end */

        /* saveupto start */
        .saveupto
        {
            display: flex;
            font-size: 20px;
        }
        .lm1,.lm2
        {
            height: 500px;
            width: 50%;
        }
        .lm1
        {
            background: url(mid.jpg);
            background-size: 100% 100%;
        }
        .lm2
        {
            background-color: #2fdab8;
        }
        .dt
        {
            height: 400px;
            width: 90%;
            margin-top: 90px;
            background-color: white;
        }
        .dd
        {
            padding-left: 20px;
        }
        .ans
        {
            display: flex;
            text-align: center;
            padding-top: 0px;
            font-size: 25px;
            background-color: white;
        }
        .cs1,.ev1,.aw1
        {
            width: 33.33%;
            color: #2fdab8;
        }
        /* saveupto end */

        /* letter start */
        .letter
        {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 45px;
        }
        /* letter end */

        /* sale start */
        .sale
        {
            padding: 50px;
            display: flex;
            gap: 10px;
            height: 700px;
            color: white;
        }
        .i1,.i2
        {
            width: 50%;
        }
        .i1
        {
            background: url(bb1.jpg);
            background-size: cover;
            font-size: 45px;
            padding: 70px 0 0 400px;
            letter-spacing: 5px;
            background-position: -50px 0px;
            position: relative;
            border: 10px solid rgba(0, 0, 0, .23);
            background-clip: border-box;
            transition: .31s;
        }
        .s2
        {
            color: red;
        }
        .i1::after
        {
            content: "";
            background: transparent;
            height: 550px;
            width: 550px;
            border: 10px solid white;
            opacity: 0;
            transition: .31s;
            font-size: 35px;
            color: white;
            letter-spacing: 8px;
            position: absolute;
            top: 10px;
            left: 0px;
        }
        .i1:hover::after
        {
            opacity: 1;
            top: 10px;
            left: 40px;
        }
        .i1:hover
        {
            background-position: 0px 0px;
        }
        .i3,.i5
        {
            height: 47.5%;
            border: 10px solid rgba(0, 0, 0, .23);
            background-clip: border-box;
        }
        .i3
        {
            background: url(bottom3.jpg);
            background-size: cover;
            padding: 50px 0 0 500px;
            background-position: -50px 0px;
            font-size: 30px;
            letter-spacing: 5px;
            transition: .31s;
            position: relative;
        }
        .i3::after
        {
            content: "";
            background: transparent;
            height: 220px;
            width: 550px;
            border: 10px solid white;
            opacity: 0;
            transition: .31s;
            font-size: 35px;
            color: white;
            letter-spacing: 8px;
            position: absolute;
            top: 10px;
            left: 0px;
        }
        .i3:hover::after
        {
            opacity: 1;
            top: 10px;
            left: 40px;
        }
        .i3:hover
        {
            background-position: 0px 0px;
        }
        .i5
        {
            background: url(bottom4.jpg);
            background-size: cover;
            padding: 50px 0 0 500px;
            background-position: -50px 0px;
            font-size: 30px;
            letter-spacing: 5px;
            transition: .31s;
            position: relative;
        }
        .i5::after
        {
            content: "";
            background: transparent;
            height: 220px;
            width: 550px;
            border: 10px solid white;
            opacity: 0;
            transition: .31s;
            font-size: 35px;
            color: white;
            letter-spacing: 8px;
            position: absolute;
            top: 10px;
            left: 0px;
        }
        .i5:hover::after
        {
            opacity: 1;
            top: 10px;
            left: 40px;
        }
        .i5:hover
        {
            background-position: 0px 0px;
        }
        .i4
        {
            height: 5%;
        }
        /* sale end */

        /* offer start */
        .offer
        {
            display: flex;
        }
        .o1,.o2
        {
            width: 50%;
            height: 400px;
        }
        .o1
        {
            position: relative;
            overflow: hidden;
        }
        .div1
        {
            height: 450px;
            width: 750px;
            background-color: rgba(0, 0, 0, 0.18);
            position: absolute;
            top: 450px;
            left: -750px;
            border-radius: 20px;
            transition: .31s;
        }
        .o1:hover .div1
        {
            top: 0px;
            left: 0px;
        }
        .div11
        {
            height: 450px;
            width: 750px;
            background-color: rgba(0, 0, 0, 0.18);
            position: absolute;
            top: -450px;
            left: 550px;
            border-radius: 20px;
            transition: .31s;
        }
        .o1:hover .div11
        {
            top: 0px;
            left: 0px;
        }

        .o2
        {
            position: relative;
            overflow: hidden;
        }
        .div2
        {
            height: 450px;
            width: 750px;
            background-color: rgba(0, 0, 0, 0.18);
            position: absolute;
            top: 450px;
            left: -750px;
            border-radius: 20px;
            transition: .31s;
        }
        .o2:hover .div2
        {
            top: 0px;
            left: 0px;
        }
        .div22
        {
            height: 450px;
            width: 750px;
            background-color: rgba(0, 0, 0, 0.18);
            position: absolute;
            top: -450px;
            left: 550px;
            border-radius: 20px;
            transition: .31s;
        }
        .o2:hover .div22
        {
            top: 0px;
            left: 0px;
        }
        .txt1 
        {
            color: white;
            position: absolute;
            top: 40%;
            left: 25%;
            word-spacing: 5px;
            letter-spacing: 5px;
            font-size: 30px;
            z-index: 1;
            font-weight: bold;
        }
        .st1
        {
            color: blue ;
        }
         .txt2 
        {
            color: white;
            position: absolute;
            top: 40%;
            left: 25%;
            word-spacing: 5px;
            letter-spacing: 5px;
            font-size: 30px;
            z-index: 1;
            font-weight: bold;
        }
        .st2
        {
            color: blue ;
        }
        /* offer end */

        /*section start*/
        .sectionmain
        {
            padding-left: 2%;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .mens,.womens,.bags,.footwear
        {
            display: inline;
            margin-left: 200px;
            padding: 10px 0 0 10px;
            font-size: 30px;
        }
        /* section end */
        /*shopping items start*/
        .shopping
        {
            display: flex;
            flex-wrap: wrap;
            padding-left: 30px;
            padding-right: 30px;
        }
        .main
        {
            height: 450px;
            width: 250px;
            background-color: white;
            position: relative;
            margin:0 50px 50px 50px;
            box-shadow: 0px 0px 15px black;
        }
        .new
        {
            width: 40px;
            border: 1px solid black;
            text-align: right;
            background: hotpink;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
        }
        .front
        {
            height: 290px;
            border: 1px solid white;
            transition: 1s;
            transform: rotateY(180deg);
            backface-visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
        }
        .main:hover .front
        {
            transform: rotateY(0deg);
        }
        .back
        {
            height: 290px;
            border: 1px solid white;
            transition: 1s;
            transform: rotateY(0deg);
            backface-visibility: hidden;
        }
        .main:hover .back
        {
            transform: rotateY(180deg);
        }
        .view
        {
            height: 45px;
            width: 100%;
            background-color: black;
            color: white;
            border: 1px solid white;
            font-size: 20px;
            text-align: center;
            position: absolute;
            line-height: 45px;
            top: 0;
            opacity: 0;
            transition: 1s;
        }
        .main:hover .view
        {
            top: 240px;
            opacity: 1;
        }
        .gb1
        {
            color: hotpink;
            font-size: 100%;
            text-align: center;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
            padding: 5px;
        }
        .gb2
        {
            font-weight: bold;
            font-size: 20px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            transform: translate(50px,10px);
        }
        .gb3
        {
            font-size: 20px;
            font-weight: bold;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-decoration: line-through;
            transform: translate(130px,-16px);
            color: gray;
        }
        .button2
        {
            height: 40px;
            width: 150px;
            transform: translate(50px,10px);
            background-color: cadetblue;
            font-size: 15px;
            outline: 2px  solid cadetblue;
            outline-offset: 0;
            transition: .31s;
            border: none;
        }
        .button2:hover
        {
            outline: 5px solid cadetblue;
            outline-offset: 5px;
        }
        /*shopping items end*/
        /*discount start*/
        .discountmain
        {
            height: 500px;
            background: url(bot_2.jpg);
            background-size: cover;
            background-attachment: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: white;    
        }
        .sp3
        {
            color: black;
        }
        .dis
        {
            font-size: 55px;
            letter-spacing: 10px;
            font-weight: bold;
        }
        /*discount end*/

        /*shipping start*/
        .shippingmain
        {
            height: 200px;
            display: flex;
        }
        .icon
        {
            /* background-color: black; */
            /* height: 100px; */
            /* width: 100px; */
        }
        .it1
        {   
        }
        .shipping,.support,.garuntee,.coupons
        {
            width: 25%;
        }
        /*shipping end*/