@media(max-width:500px)
        {
            .header li{
                display: block;
            }
            .navbar ul{
                display: inline;
                text-align: center;
            }
            .navbar li{
                padding: 10px;
            }
            .subheader ul{
                display: grid;
                grid-template-columns: 2fr 2fr 2fr;
            }
            .content
            {
                font-size: auto;
                word-spacing: 0;
            }
            .new-Arrivals{
                display: inline;
            }
            .a1,.a2
            {
                height: 300px;
                width: 100%;
            }
            .saveupto
            {
                display: inline;
            }
            .lm1,.lm2
            {
                height: 500px;
                width: 100%;
            }
            .sale
            {
                display: inline;
                width: 100%;
            }
            .i1{
                height: 550px;
                width: 100%;
                font-size: auto;
            }
            .i3,.i5
            {
                height: 200px;
                width: 100%;
            }
            .offer{
                display: inline;
            }
            .o1,.o2{
                width: 100%;
            }
            .mens,.womens,.bags,.footwear
            {
                display: grid;
                grid-template-columns: 2fr 2fr;
                margin: 0;
                padding: 0;
            }
            .shippingmain{
                display: inline;
                justify-content: center;
                align-items: center;
            }
            .support,.shipping,.garuntee,.coupons{
                display: inline;
            }
            .footerpart1
            {
                display: inline-block;
                width: 100%;
            }
            .f1,.f2,.f3,.f4
            {
                display: inline;
                width: 100%;
                text-align: center;
            }
            .footerpart2
            {
                display: inline-block;
                padding: 0;
                width: 100%;
            }
            .footerpart3
            {
                display: inline-block;
                padding: 10px;
                width: 100%;
            }
            .sp3{
                color: white;
            }
            .i3,.i5{
                padding: 50px 0 0 400px;
            }
        }